#canvas {
	background-color: #A9EAFF;
	width: 1024px;
	height: 768px;
	position: absolute;
}

#sun {
	top: 0px;
	left: 180px;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 1.5s ease-in;
}

#c1 {
	height: 150px;
  	width: 150px;
	top: 100px;
  	left: 250px;
  	border-radius: 50%;
  	position: absolute;
 	background-color: #FFF06C;
}

.rectangle {
  height: 100px;
  width: 10px;
  background-color: #FFF06C;
  position: absolute;
}

#r1 {
	top: 30px;
	left: 320px;
}

#r2 {
	top: 230px;
	left: 320px;
}

#r3 {
	top: 130px;
	left: 420px;
	transform: rotate(90deg); 
}

#r4 {
	top: 130px;
	left: 220px;
	transform: rotate(90deg); 
}

#r5 {
	top: 60px;
	left: 400px;
	transform: rotate(45deg); 
}

#r6 {
	top: 60px;
	left: 240px;
	transform: rotate(135deg); 
}

#r7 {
	top: 200px;
	left: 400px;
	transform: rotate(-45deg); 
}

#r8 {
	top: 200px;
	left: 240px;
	transform: rotate(-135deg); 
}

#r9 {
	top: 180px;
	left: 310px;
	width: 30px;
	height: 10px;
}

.oval {
  height: 25px;
  width: 10px;
  background-color: #6B5D48;
  border-radius: 50%;
  position: absolute;
}

#o1 {
	top: 150px;
	left: 300px;
}

#o2 {
	top: 150px;
	left: 340px;
}

#o3 {
	width: 30px;
	height: 20px;
	top: 180px;
	left: 310px;
}

#grass {
	width: 1024px;
	height: 500px;
	position: absolute;
	background-color: #7FDB7D;
	top: 268px;
}

.stem {
	height: 60px;
	width: 10px;
	background-color: #61955F;
	position: absolute;
}

.petal {
	height: 50px;
	width: 20px;
	background-color: #F48BAB;
	border-radius: 50%;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 0.3s ease-in;
}

.center {
	height: 30px;
	width: 30px;
	background-color: #FFF06C;
	border-radius: 50%;
	position: absolute;
}

.flowerpot {
	border-top: 50px solid #D89B78;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 60px;
    position: absolute;
}

.label {
	font-family: sans-serif;
    font-size: 48px;
    color: white;
    position: absolute;
    font-weight: bold;
}

#group2, #group3, #group4 {
	opacity: 0.5;
	transition: opacity 0.5s ease-in;
}

#key1 {
	top: 500px;
	left: 300px;
}

#F {
	top: 450px;
	left: 335px;
}

#stem1 {
	top: 450px;
	left: 345px;
}

#center1 {
	top: 430px;
	left: 335px;
}

#p1-1{
	top: 390px;
	left: 340px;
}

#p1-2{
	top: 400px;
	left: 360px;
	transform: rotate(45deg);
}

#p1-3{
	top: 420px;
	left: 365px;
	transform: rotate(90deg);
}

#p1-4{
	top: 440px;
	left: 360px;
	transform: rotate(-45deg);
}

#p1-5{
	top: 440px;
	left: 340px;
}

#p1-6{
	top: 440px;
	left: 320px;
	transform: rotate(-135deg);
}

#p1-7{
	top: 420px;
	left: 315px;
	transform: rotate(90deg);
}

#p1-8{
	top: 400px;
	left: 320px;
	transform: rotate(-45deg);
}






#key2 {
	top: 500px;
	left: 420px;
}

#G {
	top: 450px;
	left: 455px;
}

#stem2 {
	top: 450px;
	left: 465px;
}

#center2 {
	top: 430px;
	left: 455px;
}

#p2-1{
	top: 390px;
	left: 460px;
}

#p2-2{
	top: 400px;
	left: 480px;
	transform: rotate(45deg);
}

#p2-3{
	top: 420px;
	left: 485px;
	transform: rotate(90deg);
}

#p2-4{
	top: 440px;
	left: 480px;
	transform: rotate(-45deg);
}

#p2-5{
	top: 440px;
	left: 460px;
}

#p2-6{
	top: 440px;
	left: 440px;
	transform: rotate(-135deg);
}

#p2-7{
	top: 420px;
	left: 435px;
	transform: rotate(90deg);
}

#p2-8{
	top: 400px;
	left: 440px;
	transform: rotate(-45deg);
}




#key3 {
	top: 500px;
	left: 540px;
}

#H {
	top: 450px;
	left: 575px;
}

#stem3 {
	top: 450px;
	left: 585px;
}

#center3 {
	top: 430px;
	left: 575px;
}

#p3-1{
	top: 390px;
	left: 580px;
}

#p3-2{
	top: 400px;
	left: 600px;
	transform: rotate(45deg);
}

#p3-3{
	top: 420px;
	left: 605px;
	transform: rotate(90deg);
}

#p3-4{
	top: 440px;
	left: 600px;
	transform: rotate(-45deg);
}

#p3-5{
	top: 440px;
	left: 580px;
}

#p3-6{
	top: 440px;
	left: 560px;
	transform: rotate(-135deg);
}

#p3-7{
	top: 420px;
	left: 555px;
	transform: rotate(90deg);
}

#p3-8{
	top: 400px;
	left: 560px;
	transform: rotate(-45deg);
}




#key4 {
	top: 500px;
	left: 660px;
}

#J {
	top: 450px;
	left: 695px;
}

#stem4 {
	top: 450px;
	left: 705px;
}

#center4 {
	top: 430px;
	left: 695px;
}

#p4-1{
	top: 390px;
	left: 700px;
}

#p4-2{
	top: 400px;
	left: 720px;
	transform: rotate(45deg);
}

#p4-3{
	top: 420px;
	left: 725px;
	transform: rotate(90deg);
}

#p4-4{
	top: 440px;
	left: 720px;
	transform: rotate(-45deg);
}

#p4-5{
	top: 440px;
	left: 700px;
}

#p4-6{
	top: 440px;
	left: 680px;
	transform: rotate(-135deg);
}

#p4-7{
	top: 420px;
	left: 675px;
	transform: rotate(90deg);
}

#p4-8{
	top: 400px;
	left: 680px;
	transform: rotate(-45deg);
}

